{{!< default}}
    <div class="posts">
        <nav class="art-list">
          <ul class="art-list-body">
            {{#foreach posts }}
            <li class="art-list-item">
                <section class="art-list-item-left">
                    <h2 class="art-list-title">
                        <a href="{{ @blog.url }}{{ url }}">{{ title }}</a>
                    </h2>
                    <time class="art-list-time">{{date published_at format="MMMM Do, YYYY"}}</time>
                </section>
                <p class="featimg">
                    <a href="{{ @blog.url }}{{ url }}">
                        <img src={{image}} class="center js-srcset">
                    </a>
                </p>
                <section class="art-list-item-left">
                    <p class="art-list-description">{{excerpt words="30"}}...</p>
                </section>
            </li>
            {{/foreach}}
          </ul>
        </nav>
    </div>

<footer>
{{pagination}}
</footer>