{{!< default}}
{{#post}}

<article class="abt simple {{post_class}}">
    
    <header class="abt-header">
            <h2>About</h2>
    </header>

    <div class="abt-body">
            <img src="{{ @blog.url }}/photos/about/mariana_about_01_640.jpg" sizes="60vw" srcset="{{ @blog.url }}/photos/about/mariana_about_01_2048.jpg 2048w, {{ @blog.url }}/photos/about/mariana_about_01_1024.jpg 1024w, {{ @blog.url }}/photos/about/mariana_about_01_640.jpg 640w, {{ @blog.url }}/photos/about/mariana_about_01_320.jpg 320w" class="center">
            
            Hi, I'm Mariana!
            I *try* to travel a lot, and stuff my face with flowers and good food in the process. I'd also love to know you if you're reading this, so <a href="mailto:marianabdaraujo@gmail.com">drop me a note</a> any time!
    </div>

</article>

{{/post}}